* {
  margin: 0;
  padding: 0;
  color: #e0dede;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "MedievalSharp";
}

html {
  margin-left: auto;
  margin-right: auto;
  background: url(../images/sparksBackground.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* ////////////////////////////////////////////////////////////////////
 ////////////////////  HeaderSection  /////////////////////////////////
 //////////////////////////////////////////////////////////////////// */

.headerSection {
  padding: 10px 20px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: rgb(44, 40, 40);

  box-shadow: 0 30px 40px -5px rgba(44, 40, 40, 1),
    0 30px 40px -5px rgba(255, 255, 255, 0);
}

.headerSection a {
  text-decoration: none;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .headerSection {
    padding: 20px 40px 20px;
  }

  .headerSection a {
    font-size: 30px;
  }
}

/* ////////////////////////////////////////////////////////////////////
 ////////////////////  listOfItmInCartSection  /////////////////////////////////
 //////////////////////////////////////////////////////////////////// */
.listOfItmInCartSection {
  font-size: 20px;
}
.listOfItmInCartSection ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px;
}

.listOfItmInCartSection p {
  font-size: 30px;
  text-align: left;
  margin-left: 100px;
}

.listOfItmInCartSection ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px 0px 10px 10px;

  background-color: rgb(44, 40, 40);
  border-radius: 5px;
}

.removeBtnWrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 50px;
  cursor: pointer;
}

.removeBtnWrapper div:hover {
  background-color: rgba(62, 54, 54, 0.9);
  border-radius: 100%;
}

.removeAll {
  margin-top: 50px;
  width: 220px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(62, 54, 54, 0.9);

  outline: none;
  border: 3px solid #fafafa;
  border-radius: 5px;
  cursor: pointer;
}
.priceDiv {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coinIcon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .listOfItmInCartSection {
    font-size: 40px;
  }
  .listOfItmInCartSection ul {
    padding: 50px;
  }

  .listOfItmInCartSection p {
    font-size: 60px;
  }

  .listOfItmInCartSection ul li {
    width: 700px;
    padding: 15px 0px 15px 5px;
  }

  .removeBtnWrapper div {
    margin-right: 15px;
  }
  .coinIcon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .listOfItmInCartSection ul {
    margin-left: 350px;
  }
  .listOfItmInCartSection ul li:nth-child(odd) {
    align-self: end;
  }

  .coinIcon {
    width: 50px;
    height: 50px;
  }
}

/* ////////////////////////////////////////////////////////////////////
 ////////////////////  makeOrderSection  /////////////////////////////////
 //////////////////////////////////////////////////////////////////// */
/* 
.makeOrderSection {
  padding-block: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.makeOrderSection div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  cursor: pointer;
}
.orderAnvil {
  pointer-events: none;
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .makeOrderSection div {
    font-size: 60px;
  }
  .orderAnvil {
    margin-inline: auto;

    width: 200px;
    height: 200px;
  }
}
 */
