*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: rgb(44, 40, 40);
    color: #e0dede;
    max-width: 1440px;
    font-size: 17px;
    box-sizing: border-box;
}


html{
    margin-left: auto;
    margin-right: auto;
    background: url(./images/sparksBackground.jpg);
    background-size: cover;
    background-attachment:scroll;
}


 /* ////////////////////////////////////////////////////////////////////
 ////////////////////  HeaderSection  /////////////////////////////////
 //////////////////////////////////////////////////////////////////// */


.headerSection{
    padding: 15px 40px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


.headerSection  a{
    text-decoration: none;
}

.cart, .home{
    margin-right: 8px;
}




 /* ////////////////////////////////////////////////////////////////////
 ////////////////////  HeroSection  /////////////////////////////////
 //////////////////////////////////////////////////////////////////// */

.heroSection {
    position: relative;
    margin: auto; 

    display: flex;
    align-items: center;

    width: 100%;
    max-width: 100%;

    background-image: url(./images/heroBackground.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
}
.heroSection:before, .heroSection:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
}
.heroSection:before {
    top: 0;
    background-image: linear-gradient(to bottom, rgba(44, 40, 40,1), rgba(255,255,255,0));
}
.heroSection:after {
    bottom: 0;
    background-image: linear-gradient(to top, rgba(44, 40, 40,1), rgba(255,255,255,0));
}

.searchFieldContainer{
    display: flex ;
    align-items: center;    
    justify-content: space-between;
    width: 700px;

    margin-left: 40px;
    padding-right: 15px;
    border: 5px solid #fafafa;
    border-radius: 45px;
}

.heroSection input{
    padding: 27px;
    font-size: 23px;
    color: #fafafa;
    width: 100%;

    background-color: transparent;
   
    border: none;    
    outline: none;
}

.heroSection input::placeholder{
    color: #fafafa;
}

.anvil{
    background: transparent;
}



/* ////////////////////////////////////////////////////////////////////
 ////////////////////  GoodsSection  /////////////////////////////////
 //////////////////////////////////////////////////////////////////// */

.goodsSection{
    padding: 120px 30px;
}

.goodsHeader{
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.armoryList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}

.listElement{
display: flex;
flex-direction: column;
}

.listElement img, .listElement p{
    width: 256px;
}


 /* ////////////////////////////////////////////////////////////////////
 ////////////////////  AboutUsSection  /////////////////////////////////
 //////////////////////////////////////////////////////////////////// */



.aboutUsSection{
    padding: 15px 40px 15px;
    display: flex;
    flex-direction: row-reverse;
}

.aboutUsSection div{
    padding: 15px;
    padding-left: 30px;
}

.aboutUsSection h2{
    font-size: 40px;
    text-decoration: underline;
}

.aboutUsSection p{
    font-size: 30px;
    margin-top: 15px;
}

